<ribcl version="2.0">
 <login user_login="root" password="not_important">
  <user_info mode="write">
   <mod_user user_login="{{ obm_user }}">
    <password value="{{ obm_pass }}"/>
   </mod_user>
  </user_info>
 </login>
</ribcl>