{% for item in dns_servers %}
nameserver {{ item }}
{% endfor %}
search {{ ad_domain|lower }}
{% if (ansible_os_family == 'RedHat' and ansible_distribution_major_version|int < 8) or
      (ansible_os_family == 'Debian' and ansible_distribution_major_version|int < 20) -%}
domain {{ ad_domain|lower }}
{%- endif %}
