[global]
   security = ads
   realm = {{ ad_domain|upper }}
   workgroup = {{ workgroup|upper }}
   netbios name = {{ netbiosname }}
   log file = /var/log/samba/%m.log
   kerberos method = secrets and keytab
   client signing = yes
   client use spnego = yes
