## This is the configuration file for rs-inventory                                                                                         
## This software tracks installed packages for security notifications
server_number={{ reg_tok.json.server_number }}
server_sig={{ reg_tok.json.server_sig }}
